body{ 
background-color: #F5C0E6; 
font-family: Comic Sans MS, Comic Sans, cursive; 
}
table {
  background-color:#000000;
    border: 2px solid #000000;
    width:100%;
    height:auto;

    max-width: 400px;
    max-height: 350px;
    margin-left: 0px;
}
.navbar-brand{ 
float: left; 
} 
.navbar-brand img{ 
max-width:auto; 
max-height:7vh; 
}
.col-md-6{
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 960px;
background-color:#F5C0E6;
width: 100%;
}

.col-md-6 table{
  order:2;
}
.col-md-6 form{
  order:1;
}
.col-md-6  img{
  max-width: 90%;
  height: auto;
}

header{
max-height: 150px;
background-color:#F075CD;
width: 100vw;
}
header::after{
  content: "";
  clear: both;
  display: block;
}
header div {
  max-width: 960px;
}
.header h1{
  font-size: 3vw;
  color: #CA1B1B;
}
.col-md a{
  text-align: center;
  display: block;

  font-size:1.4em;
  color:pink; 
}

nav{
    background-color:#CA1B1B;
    max-width: 960px;
  }
  nav a{
  text-align: center;
  display: block;
  text-decoration: none;
  font-size:1.2em;
  color:black;
  }
  nav a:hover{
    color:purple;
    text-decoration: none;
     background:rgba(0,0,0, .2) ;
    text-align: center;
  }

footer {
     background-color: #F075CD;
     max-height: 70px;
    font-size: 1rem;
}

@media only screen and (min-width:780px) and (orientation:landscape){
  .col-md-6 table{
    order: 1;
  }
  .col-md-6 form{
    order:2
  }
  .navbar-brand img{
  max-width:auto;
  max-height:10vh;   
}
}

